h2{
    color :aliceblue;
}
.form-control{
    border-radius: 3px;
    width: 600px;
    margin-left: 400px;
    align-self: center;
    
    

}
.search-icon{
    position:absolute;
    z-index:10;
    right: 40%;
    top:10px;
}